<!-- Footer -->
<footer id="footer">

  <h1 id="logo">
    <span id="logo-Text">Memorizer</span>
  </h1>

  <ul class="icons">
    <li>
      <a href="#" class="icon circle fa-twitter">
        <span class="label">Twitter</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon circle fa-facebook">
        <span class="label">Facebook</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon circle fa-google-plus">
        <span class="label">Google+</span>
      </a>
    </li>
  </ul>

  <ul class="copyright">
    <li>&copy; Christoph Feldkircher</li>
  </ul>

</footer>
